{% load static %} {% include "Personnel_Service/headers.html" %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">

    <h2>
        A Propos De Nous
    </h2>

    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div>
                <a href="{% url 'apropos' %}">
                    <h2>
                        A Propos De Nous
                    </h2>
                </a>
            </div>
            <p style="margin-top: 35px;">Bienvenue sur la page "À propos" de l'Hôpital <strong>Medi_Tech</strong> Nous sommes fiers de vous accueillir dans notre établissement dédié à offrir des soins de santé de haute qualité à nos patients. Depuis notre fondation, nous nous engageons
                à fournir des services médicaux exceptionnels, des traitements innovants et un soutien attentionné à ceux qui nous font confiance pour leur santé et leur bien-être.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'Personnel_Service/assets/img/nimg/h2.jpg' %}" class="img-fluid" alt="">
               
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>À l'Hôpital <strong>Medi_Tech</strong>, notre mission est de promouvoir la santé et le bien-être de nos patients en offrant des soins personnalisés et holistiques. Nous croyons fermement en une approche intégrée de la santé, où chaque
                    patient est traité avec respect, compassion et expertise.</h3>
                <p class="fst-italic">
                    Nos équipes médicales et paramédicales sont composées de professionnels hautement qualifiés et dévoués, dont la priorité est de fournir des soins de classe mondiale dans un environnement sécuritaire et accueillant. De la consultation initiale au suivi
                    post-traitement, nous sommes là à chaque étape pour vous soutenir et répondre à vos besoins médicaux. <br> En tant qu'établissement de soins de santé de premier plan, nous investissons continuellement dans
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> la recherche.</li>
                    <li><i class="bi bi-check-circle"></i> la technologie.</li>
                    <li><i class="bi bi-check-circle"></i> l'éducation médicale.</li>
                </ul>

            </div>

            <!-- ======= Doctors Section ======= -->
            <section id="doctors" class="doctors section-bg">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <div>
                            <a href="#">
                                <h2> Nos Docteurs </h2>
                            </a>


                        </div>
                        <p class="paragraphe">
                            Nos médécins , sous la direction de leur chef de service exemplaire, sont véritablement des experts dans leur domaine. Leur dévouement envers leurs patients et leur engagement envers l'excellence médicale sont remarquables. Le chef de service, en particulier,
                            se distingue par sa vaste expérience, sa vision avant-gardiste et son leadership inspirant. Ses reconnues par ses pairs, et sa capacité à résoudre des cas médicaux complexes est tout simplement impressionnante. Grâce à son
                            leadership éclairé, l'équipe de médecins collabore de manière harmonieuse et efficace, assurant des soins de santé de premier ordre à chaque patient. Chaque membre de l'équipe médicale apporte une contribution précieuse, démontrant
                            un haut niveau de professionnalisme et de compassion. Leur engagement envers l'amélioration continue et l'innovation médicale se reflète dans les résultats exceptionnels obtenus pour les patients. Les patients se sentent en
                            sécurité et entre de bonnes mains sous les soins de ces médécins dévoués, qui font preuve d'une attention personnalisée et d'une approche holistique de la médecine.
                        </p>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'Personnel_Service/assets/img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>IBRAHIMA BALDE</h4>
                                    <span>Chef De Serivice Chirurgie </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="200">
                                <div class="member-img">
                                    <img src="{% static 'Personnel_Service/assets/img/doctors/doctors-2.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Boubacar Barry</h4>
                                    <span>Chef De Service Dermatologie</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="300">
                                <div class="member-img">
                                    <img src="{% static 'Personnel_Service/assets/img/doctors/doctors-3.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>IDRISSA DIALLO</h4>
                                    <span>Chef De Service Cardiologie</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="400">
                                <div class="member-img">
                                    <img src="{% static 'Personnel_Service/assets/img/doctors/doctors-4.jpg'%}" class=" img-fluid " alt=" ">
                                    <div class="social ">
                                        <a href=" "><i class="bi bi-twitter "></i></a>
                                        <a href=" "><i class="bi bi-facebook "></i></a>
                                        <a href=" "><i class="bi bi-instagram "></i></a>
                                        <a href=" "><i class="bi bi-linkedin "></i></a>
                                    </div>
                                </div>
                                <div class="member-info ">
                                    <h4>Aguibou Sow</h4>
                                    <span>Chef De Service Neurologie</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- End Doctors Section -->
        </div>

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <div>

                        <a href="#gallery">
                            <h2>Notre Gallery</h2>
                        </a>


                    </div>
                    <p class="paragraphe">
                        Notre gallérie avec un espace magnifique et apaisant,offrant une ambiance chaleureuse aux patients et visiteurs. Les oeuves d'art exposées dans la galérie ajoutent une touche de beauté et de réconfort à l'environnement hospitalier.les couloirs ornés de
                        tableaux et de sculptures créent une atmosphère accueillante et inspirante pour tous ceux qui passent par là, C'est un aussi espace de beauté et de créativité qui souligne l'engagement de l'hôpital envers le bien-être global de
                        ses patients. Notre gallérie est bien plus qu'un simple espace décoratif,c'est un lieu de réconfort, d'inspiration et de guérison pour tous ceux qui franchissent nos portes !!!!
                    </p>
                </div>

                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-1.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-2.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-3.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-3.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-4.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-5.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-5.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-6.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-7.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-7.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery-lightbox" href="{% static 'Personnel_Service/assets/img/gallery/gallery-8.jpg' %}"><img src="{% static 'Personnel_Service/assets/img/gallery/gallery-8.jpg' %}" class="img-fluid" alt=""></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Gallery Section -->

    </div>
</section>
<!-- End About Us Section -->





{% include "Personnel_Service/footers.html " %}