
{% load static %}

{% include 'Personnel_Service/headers.html' %}



<section class="section profile ">
    <div class="row justify-content-center m-4">
      

      <div class="col-xl-10">

        <div class="card m-5">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            
            <div class="tab-content pt-2 text-center m-5">

              <p class="h2">
                Bonjour !!! Merci de nous porter confiance,
                
              </p>
              <p class="h2">vous receverez un email dans un plus bref délai</p>
              

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

{% include 'Personnel_Service/footers.html' %}