{% load static %}
{% include "Personnel_Service/headers.html" %}


 
    
    
    ======= Contact Section ======= 
    <section id="contact" class="contact">
      <h2>CONTACTEZ-NOUS</h2>

      <div class="container">

        <div class="section-title">
        <h2>CONTACTEZ-NOUS</h2>

          <p class="paragraphe">Nous sommes là pour vous aider. Si vous avez des questions ,des préoccupations ou des 
            commmentaires concernant nos services....,N'hésitez pas à nous contacter en utilisant le
            formulaire ci-dessous. Notre équipe se fera un plaisir de vous assister et de répondre
            à vos demandes dans les plus brefs délais. Votre satisfaction et le bien-être de nos patients
            sont notre priorité !!!!
          </p>
        </div>

      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div>
          <marquee behavior="" direction="" style="color: rgb(29, 200, 200);font-weight: bold;">  VOTRE SATISFACTION ET LE BIEN-ETRE DE NOS PATIENTS SONT NOTRE PRIORITE ABSOLUE  !!!</marquee>
      </div>
      

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Notre Adresse</h3>
                  <p>Labé, Hafia, Université de Labé</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3>
                  <p>meditech@gmail.com<br>meditech@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Appellez-Nous</h3>
                  <p>+224 620437391<br>+224 629498654</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" required="">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" required="">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required="">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required=""></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Chargement</div>
                <div class="error-message"></div>
                <div class="sent-message">taper ici votre message</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>
          </div>

        </div>

      </div>
    </section> 
    {% include "Personnel_Service/footers.html" %}
    