{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'Patients/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'Patients/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Patients/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Patients/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Patients/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Patients/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'Patients/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'Patients/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'Patients/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'Patients/assets/css/style.css' %}" rel="stylesheet">

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">MediTech</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{ nbr_rdvA }}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              Vous avez {{ nbr_rdvA }} nouvelle(s) notification(s)
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            {% for notif in rdv_enAttente  %}
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="notification-item" data-bs-toggle="modal" data-bs-target="#disablebackdrop"
              data-rdv-id="{{ notif.id }}"
              data-full-name="{{ notif.full_name }}"
              data-sujet-rdv="{{ notif.sujet_rdv }}"
              data-date-rdv="{{ notif.date_rdv }}"
              data-heure-rdv="{{ notif.heure_rdv }}">
                <a href="#" class="notification-item" >
                  <i class="bi bi-exclamation-circle text-warning"></i>
                  <div>
                    <h4>{{ notif.full_name }}</h4>
                    <p>demende un Rendez-vous: {{ notif.sujet_rdv|truncatewords:3 }}</p>
                    <p></p>
                  </div>
                </a>
              </li>
              
            {% endfor %}

            
            <li class="dropdown-footer" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable">
              <a href="#">historique de notification</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->
          

        </li><!-- End Notification Nav -->
        
        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">2</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              Vous avez 2 nouveau messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="" alt="" class="rounded-circle">
                <div>
                  <h4>Patient Patient</h4>
                  <p>Bonjour Dr Idrissa je vous demende la dose de mes medicaments</p>
                  <p>il y a 15min</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="" alt="" class="rounded-circle">
                <div>
                  <h4>soumah salif</h4>
                  <p>Merci doctor pour vos conseils</p>
                  <p>il y a 39min</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Voir tous</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->
       
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if personnel.image %}
            <img src="{{ personnel.image.url }}" alt="Profile" class="rounded-circle" style=" width: 40px; 
            height: 40px; 
            object-fit: cover;
            object-position: center;
            border-radius: 50%;">
            {% else %}
            <img src="{% static 'Patients/assets/img/messages-2.jpg' %}" alt="Profile" class="rounded-circle" style=" width: 40px; 
            height: 50px; 
            object-fit: cover;
            object-position: center;
            border-radius: 50%;">
            {% endif %}
            <span class="d-none d-md-block dropdown-toggle ps-2">Dr {{ user.nom }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.nom }} {{ user.prenom }}</h6>
              <span>{{ personnel.fonction }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'user_profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            
            <li>
              <hr class="dropdown-divider">
            </li>

           
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'connexion' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>se deconnecter</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
    
  <div class="modal fade" id="disablebackdrop" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Demande de Rendez-vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h4 id="modal-full-name"></h4>
                    <p id="modal-sujet-rdv"></p>
                    <p>Date: <span id="modal-date-rdv"></span></p>
                    <p>Heure: <span id="modal-heure-rdv"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <form id="confirm-form" method="post" action="{% url 'update_rdv_status' %}">
                    {% csrf_token %}
                    <input type="hidden" name="rdv_id" id="confirm-rdv-id">
                    <input type="hidden" name="action" value="confirmer">
                    <button type="submit" class="btn btn-primary">Confirmer</button>
                </form>
                <form id="cancel-form" method="post" action="{% url 'update_rdv_status' %}">
                    {% csrf_token %}
                    <input type="hidden" name="rdv_id" id="cancel-rdv-id">
                    <input type="hidden" name="action" value="annuler">
                    <button type="submit" class="btn btn-danger">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDialogScrollable" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Dialog Scrollable</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for notif in historique_notif %}
          <div>
              <p> {{ notif.full_name }}</p>
              <p>Date: {{ notif.date_rdv }}</p>
              <p>Heure: {{ notif.heure_rdv }}</p>
              <p>Sujet: {{ notif.sujet_rdv }}</p>
              <p>Status du Rdv: <span >{{ notif.status_rdv }}</span></p>
              
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
    
          <li class="nav-item">
            <a class="nav-link " href="{% url 'espace_personnel' %}">
              <i class="bi bi-grid"></i>
              <span>Home</span>
            </a>
          </li><!-- End Dashboard Nav -->
    
          
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-journal-text"></i><span>Gestion Patient</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'save_patient' %}">
                  <i class="bi bi-circle"></i><span>Enregistrer un patient</span>
                </a>
              </li>
              <li>
                <a href="{% url 'consultation' %}">
                  <i class="bi bi-circle"></i><span>Consultation</span>
                </a>
              </li>
              <li>
                <a href="{% url 'hospitalisation' %}">
                  <i class="bi bi-circle"></i><span>Hospitalisation</span>
                </a>
              </li>
              <li>
                <a href="{% url 'examen_labo' %}">
                  <i class="bi bi-circle"></i><span>Analyse Labo</span>
                </a>
              </li>
            </ul>
          </li><!-- End Forms Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-layout-text-window-reverse"></i><span>Pharmacie</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'liste_produit' %}">
                  <i class="bi bi-circle"></i><span>Produits</span>
                </a>
              </li>
              <li>
                <a href="{% url 'listePatient' %}">
                  <i class="bi bi-circle"></i><span>Achat Produits</span>
                </a>
              </li>
            </ul>
          </li><!-- End Tables Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#personnel-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-layout-text-window-reverse"></i><span>Gestion Personnel</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="personnel-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'listePatient' %}">
                  <i class="bi bi-circle"></i><span>tous le personnel hospitalier</span>
                </a>
              </li>
              
              <li>
                <a href="{% url 'registers' %}">
                  <i class="bi bi-circle"></i><span>Enregistre Un personnel</span>
                </a>
              </li>
              <li>
                <a href="{% url 'listePatient' %}">
                  <i class="bi bi-circle"></i><span>Calendrier Personnel</span>
                </a>
              </li>
              <li>
                <a href="{% url 'listePatient' %}">
                  <i class="bi bi-circle"></i><span>Demender un congé</span>
                </a>
              </li>
            </ul>
          </li><!-- End Tables Nav -->

          
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-bar-chart"></i><span>Statistiques</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="charts-chartjs.html">
                  <i class="bi bi-circle"></i><span>Chart.js</span>
                </a>
              </li>
              <li>
                <a href="charts-apexcharts.html">
                  <i class="bi bi-circle"></i><span>ApexCharts</span>
                </a>
              </li>
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>ECharts</span>
                </a>
              </li>
            </ul>
          </li><!-- End Charts Nav -->
    
          
    
          <li class="nav-heading">Pages</li>
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'user_profile' %}">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
          </li><!-- End Profile Page Nav -->
    
          
    
          <!-- End Contact Page Nav -->
    
          <!-- End Register Page Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'connexion' %}">
              <i class="bi bi-box-arrow-in-right"></i>
              <span>se deconnecter</span>
            </a>
          </li><!-- End Login Page Nav -->
    
         
          
    
        </ul>
    
      </aside><!-- End Sidebar-->

      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const notificationItems = document.querySelectorAll('.notification-item');
    
            notificationItems.forEach(item => {
                item.addEventListener('click', function() {
                    const rdvId = this.getAttribute('data-rdv-id');
                    const fullName = this.getAttribute('data-full-name');
                    const sujetRdv = this.getAttribute('data-sujet-rdv');
                    const dateRdv = this.getAttribute('data-date-rdv');
                    const heureRdv = this.getAttribute('data-heure-rdv');
    
                    document.getElementById('modal-full-name').innerText = fullName;
                    document.getElementById('modal-sujet-rdv').innerText = 'Demande un Rendez-vous: ' + sujetRdv;
                    document.getElementById('modal-date-rdv').innerText = dateRdv;
                    document.getElementById('modal-heure-rdv').innerText = heureRdv;
                    document.getElementById('confirm-rdv-id').value = rdvId;
                    document.getElementById('cancel-rdv-id').value = rdvId;
                });
            });
        });
    </script>
    
    
    